---
name: Build
on:
  push:
    branches:
      - 'master'
  workflow_dispatch:
    

jobs:
  analyze:
    name: Analyze
    runs-on: elvia-runner
    permissions:
      actions: read
      contents: read
      security-events: write
    # if: github.ref != 'refs/heads/master' # only run analyze on PR
    steps:
      - uses: 3lvia/core-github-actions-templates/analyze@trunk
        with:
          language: go

  build:
    name: Build and Scan
    runs-on: elvia-runner
    environment: build
    permissions:
      actions: read
      contents: write
      id-token: write
      pull-requests: write
      security-events: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.24.0
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: 'ghcr.io'
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Build Docker Image
        run: make ghcrpush DOCKER_PLATFORMS=linux/amd64 \
                           GHCR_OWNER=3lvia \                          
                           GIT_TAG_NAME=preview1 \

      - name: Install 3lv CLI
        uses: 3lvia/cli/setup@trunk
      - name: Scan with 3lv CLI
        run: 3lv scan --type=container --image=ghcr.io/3lvia/kafka_exporter:preview1 --output=github

        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          GIT_TAG_NAME: latest
