---
name: Build
on:
  push:
    branches:
      - 'master'
  workflow_dispatch:
    
env:
  GIT_TAG_NAME: preview1
  GO_VERSION: 1.26.0

jobs:
  analyze:
    name: Analyze
    runs-on: elvia-runner
    permissions:
      actions: read
      contents: read
      security-events: write
    # if: github.ref != 'refs/heads/master' # only run analyze on PR
    steps:
      - uses: 3lvia/core-github-actions-templates/analyze@trunk
        with:
          language: go

  build:
    name: Build and Scan
    runs-on: elvia-runner
    environment: build
    permissions:
      actions: read
      contents: write
      id-token: write
      pull-requests: write
      security-events: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: 'ghcr.io'
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Build Docker Image and Push to GHCR
        run: make ghcrpush DOCKER_PLATFORMS=linux/amd64 \
                           GHCR_OWNER=3lvia \                          
                           GIT_TAG_NAME=${{ env.GIT_TAG_NAME }} \

      - name: Install 3lv CLI
        uses: 3lvia/cli/setup@trunk
      - name: Scan with 3lv CLI
        run: 3lv scan --severity=CRITICAL,HIGH kafka_exporter:${{ env.GIT_TAG_NAME }}
